################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MagicVilla_Utility/obj/Debug/net7.0
/MagicVilla_Utility/obj
/MagicVilla_Web/obj/MagicVilla_Web.csproj.nuget.dgspec.json
/MagicVilla_Web/obj/project.assets.json
/MagicVilla_Web/obj/project.nuget.cache
/MagicVilla_Utility/bin/Debug/net7.0
*.dll
/MagicVilla_Web/bin/Debug/net7.0/MagicVilla_Utility.pdb
/MagicVilla_Web/bin/Debug/net7.0/MagicVilla_Web.deps.json
/MagicVilla_Web/bin/Debug/net7.0/MagicVilla_Web.dll
/MagicVilla_Web/bin/Debug/net7.0/MagicVilla_Web.pdb
/MagicVilla_Web/obj/Debug/net7.0/ref/MagicVilla_Web.dll
/MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.csproj.AssemblyReference.cache
/MagicVilla_Web/obj/Debug/net7.0/refint/MagicVilla_Web.dll
/MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.csproj.CoreCompileInputs.cache
/MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.csproj.CopyComplete
/MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.csproj.FileListAbsolute.txt
/MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.dll
/MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.pdb
/MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.assets.cache
/MagicVilla_Web/bin/Debug/net7.0/appsettings.json
/MagicVilla_Web/MagicVilla_Web.csproj.user
/MagicVilla_Web/obj/Debug/net7.0/project.razor.vs.json
/MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.GeneratedMSBuildEditorConfig.editorconfig
/MagicVilla_Web/obj/Debug/net7.0/staticwebassets/msbuild.MagicVilla_Web.Microsoft.AspNetCore.StaticWebAssets.props
/MagicVilla_Web/obj/Debug/net7.0/staticwebassets.build.json
/MagicVilla_Web/obj/Debug/net7.0/staticwebassets.development.json
/MagicVilla_Web/obj/Debug/net7.0/staticwebassets.pack.json
/MagicVilla_Web/bin/Debug/net7.0/MagicVilla_Web.staticwebassets.runtime.json
/MagicVilla_Web/bin/Debug/net7.0/MagicVilla_Web.staticwebassets.runtime.json
/MagicVilla_Web/obj/Debug/net7.0/staticwebassets/msbuild.MagicVilla_Web.Microsoft.AspNetCore.StaticWebAssets.props
/MagicVilla_Web/obj/Debug/net7.0/staticwebassets.build.json
/MagicVilla_Web/obj/Debug/net7.0/staticwebassets.development.json
/MagicVilla_Web/obj/Debug/net7.0/staticwebassets.pack.json
/MagicVilla_Web/bin/Debug/net7.0/appsettings.Development.json
/MagicVilla_Web/bin/Debug/net7.0/MagicVilla_Web.exe
/MagicVilla_Web/bin/Debug/net7.0/MagicVilla_Web.runtimeconfig.json
/MagicVilla_Web/obj/Debug/net7.0/scopedcss/bundle/MagicVilla_Web.styles.css
/MagicVilla_Web/obj/Debug/net7.0/scopedcss/projectbundle/MagicVilla_Web.bundle.scp.css
/MagicVilla_Web/obj/Debug/net7.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.genruntimeconfig.cache
